@use '../../styles/font-families';

$font-size: 1.5rem;
$letter-spacing: .1rem;

$color-primary: var(--text-primary);
$color-hover: #DAD;
$color-glow: #FCF4;
$color-active: #E9B;

$anim-time: .3s;

.linkWrapper {
  position: relative;
  text-align: right;
}

.lightbar {
  pointer-events: none;

  width: 20rem;
  height: 100%;

  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  border-right: .2rem solid var(--text-primary);

  transition: opacity $anim-time/2 ease;
  opacity: 0;
}

.light {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  right: 0;

  background: linear-gradient(to left, #B8A, transparent);

  transition: opacity $anim-time/2 ease;
  opacity: .6;
}

.text {
  pointer-events: all;    // TODO Because of the light effect, menu hangs over content quite a bit.
  padding: 0.5rem 1.2rem;

  color: #CCC;
  font-family: font-families.get('button-link');
  font-size: $font-size;
  letter-spacing: $letter-spacing;

  background-color: transparent;

  border: none;
  cursor: pointer;
  user-select: none;
  transition: all $anim-time ease;

  &:hover, &:focus {
    outline: none;
    &::before {
      content: '>';
    }
    .lightbar {
      opacity: 1;
    }
  }

  &:active {
    .light {
      transition: opacity 0s ease;
      opacity: .8;
    }
  }
}

.icon {
  margin-left: $letter-spacing * 2;
  height: $font-size * .8;
  fill: var(--text-primary);

  transition: all $anim-time ease;
}