@use "sass:color";
@use "../../styles/font-families";

.background {
  box-shadow: inset 0 .2rem .4rem 0 #000;
  background: color.adjust(#242024, $lightness: -3%);
  background-size: cover;

  user-select: none;
}

.text {
  margin: 0 auto;
  padding: .3rem 1.5rem;

  width: 100%;
  max-width: 100rem;

  font-family: font-families.get('logo');
  font-size: 1rem;
  letter-spacing: .2rem;
  text-align: right;
  color: var(--text-primary);
}