
/*
I'm pretty sure I don't need to worry about these css classes bleeding over.
Not in React, anyway.
Make the names shorter, easier to type/read, etc.
*/

:root {
  --text-primary: #ccc;
  --text-special: #DCA3D7;
  --text-special-dark: #c7c;
}

.navbar-logo, .navbar-logo:focus, .navbar-logo:hover, .navbar-logo:visited, .navbar-logo:link, .navbar-logo:active {
  text-decoration: none;
}

.logo-container {
  min-width: 40ch;
  display: flex;
  align-content: center;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.logo-image {
  width: 3.75rem;
}

.logo-text {
  font-size: 2.2rem;
  min-width: 18ch;
  position: absolute;
  transform: translate(1.5%, 53%);
}

.glitch-text {
  height: 2.5rem;
  display: flex;
  justify-content: flex-start;
  color: var(--text-primary);
}

.glitch-text-letter-overlay {
  width: 100%;
  height: 100%;
  color: var(--text-primary);
  transition: all 100ms ease-out;
}

.glitch-text-letter {
  display: flex;
  justify-content: center;
  width: 2rem;
}

.glitch-text-special {
  color: var(--text-special);
}

.glitch-text-separator {
  width: 0.5rem;
  color: var(--text-special-dark);
}