@use '../../styles/font-families';

:root {
  --text-primary: #ccc;
  --text-special: #DCA3D7;
  --text-special-dark: #c7c;
}

.navbar-logo, .navbar-logo:focus, .navbar-logo:hover, .navbar-logo:visited, .navbar-logo:link, .navbar-logo:active {
  text-decoration: none;
}

.logo-container {
  position: relative;

  min-width: 40ch;
  width: fit-content;

  display: flex;
  align-items: center;

  margin-top: 1rem;
  margin-left: 0.5rem;

  // TODO Add this to div centered below name text
  &:hover, &:focus {
    .logo-text-glow {
      opacity: 1;
    }
  }
}

.logo-image {
  width: 3.75rem;
}

.logo-text {
  transform: translate(2.5%, -15%);

  display: flex;
  align-items: center;
}

.logo-text-glow {
  width: 100%;
  height: 100%;

  position: absolute;
  top: .4rem;
  left: 0;

  background: radial-gradient(ellipse 100% 10% at 50% 85%, #A79, #0000 60%);

  transition: opacity .4s ease-out;
  opacity: 0;

  box-shadow: 0 1rem 1.4rem -1rem #A796;
}



.glitch-text {
  // width: 100%;
  // height: 4rem;
  // background: #0006;
}

.glitch-text-letter {
  $text-size: 1.6rem;

  width: $text-size;

  font-family: font-families.get('logo');
  font-size: $text-size;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-primary);
}