
.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: var(--z-navbar);

  /* Shadow effect for name readability. */
  height: 25vh;
  background: linear-gradient(174deg, #060006B0, #0000 60%);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 8.75rem;
  max-width: 100rem;
}

.navbar-logo {
  margin-top: 0.625rem;
  margin-left: 1.25rem;
}

.nav-menu {
  margin-top: 4.5rem;
  margin-right: 1.25rem;
  width: 6.25rem;
  
  display: flex;
  align-content: flex-start;
  flex-flow: column wrap;
}

.nav-item {
  display: flex;
  justify-content: flex-end;
  width: 6.25rem;
}