
.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: var(--z-navbar);

  // Vignette for readability
  height: 100%;
  box-shadow: inset 0 6rem 12rem -4rem black;
  pointer-events: none;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 8.75rem;
  max-width: 100rem;
}

.navbar-logo {
  pointer-events: all;
  margin-top: 1.0rem;
  margin-left: 1.7rem;
}

.nav-menu {
  margin-top: 4.5rem;
  margin-right: 1.0rem;

  width: 20rem;
  
  display: flex;
  align-content: flex-end;
  flex-flow: column wrap;
}

.nav-item {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.vignette {
  
}