
.hide-overflow {
  overflow: hidden;
}

.landing-container {
  width: 100vw;
  height: 95vh;
  background: linear-gradient(#242024, #201720);
}

.landing-logo {
  width: 60%;
  min-width: 25rem;
  max-width: 50rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}