
:root {
  --btn-primary: #ccc;
  --btn-hover: #DCA3D7;
  --btn-glow: #fcf4;
}

.btn {
  border: none;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.btn--primary {
  color: var(--btn-primary);
}

.btn--outline {
  background-color: transparent;
  color: var(--btn-primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 0.5rem 1.2rem;
  font-size: 1.5rem;
}

.btn--large {
  padding: 0.75rem 1.5rem;
  font-size: 2rem;
}

.btn:hover,
.btn:focus {
  color: var(--btn-hover);
  text-shadow: 0 0 0.4rem var(--btn-glow);
  transition: all 0.3s ease-out;
}

.btn:active {
  color: red;
  /*This is where I would add the lines, probably.
    Except that the lines probably need to be separate elements.
    Right?*/
}