
$color_primary: #ccc;
$color_hover: #DCA3D7;
$color_glow: #fcf4;

%transparent-style {
  background-color: transparent;
}

%size-medium {
  padding: 0.5rem 1.2rem;
  font-size: 1.5rem;
}

%size-large {
  padding: 0.75rem 1.5rem;
  font-size: 2rem;
}

button {
  border: none;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-out;

  // TODO tab-selecting these is hard to see
  &:hover, &:focus {
    outline: none;
    color: $color_hover;
    text-shadow: 0 0 0.4rem $color_glow;
  }

  &:focus::before {
    content: '>';
  }

  &:active {
    color: palevioletred;
  }
}

.btn--navigation {
  @extend %transparent-style;
  @extend %size-medium;
  color: $color_primary;
}