:root {
  /* Color Palette */
  --text-primary: #bbb;
  --bg-color: #242024;
  /* TODO Finish migrating color vars. */

  /* Z-Index Levels */
  --z-background: -100;
  --z-content:     000;
  --z-foreground:  100;
  --z-navbar:      999;
}

.wireframe {
  outline: 0.125rem dashed red;
}

h1 {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 4rem;
  color: var(--text-primary);
}

p {
  font-size: 1.3rem;
  color: var(--text-primary);
}