
%glow {
  position: relative; // Layer ordering
  // I think Background, which has p:absolute, causes this bandaid fix.
  // If I wrap that in a regular div or whatever, I may not need this.

  z-index: var(--z-foreground);
  box-shadow: 0 0  .3rem .2rem #DC93D7A0,
              0 0 2.0rem .1rem #DC93D780;
}

section {
  @extend %glow;
  background: linear-gradient(to bottom, #282228, #222022);
  padding: 5rem 0;

  content {
    text-align: center;
    max-width: 80rem;
  }
}