@use 'sass:color';

.wrapper {
  padding: 5rem 0;

  // background: var(--bg-color);

  // TODO Wtf. Is this better?
  $light: color.adjust(#242024, $lightness: 5%);
  $shadow: color.adjust(#242024, $lightness: 2.5%);
  $dark: color.adjust(#242024, $lightness: 0%);
  background: linear-gradient(to bottom, $shadow, $light 10%, $light 75%, $dark);
}

.attentionGrabber {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 4rem;
  text-align: center;
  color: var(--text-primary);
}

.text {
  margin: 0 auto;
  max-width: 60ch;
  font-size: 1.6rem;
  text-align: justify;
  text-align-last: center;
  color: var(--text-primary);

  &:first-line {
    text-align: center;
    max-width: 40ch;
  }
}