@use '../../styles/colors';

$height: calc(100vh - 3rem);

.landing {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: $height;
  min-height: 25rem;

  background: colors.get(bg-gradient);
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  filter: blur(4px);
}

.logo {
  width: 60%;
  min-width: 25rem;
  max-width: 50rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glow {
  width: 100%;
  height: 80rem;

  position: absolute;
  bottom: 0;
  left: 0;
  background: radial-gradient(ellipse 1500% 15% at 50% 100%, #E9C 2%, #A7A6 4%, #8050C01C 35%, transparent);

  // box-shadow: inset 0 -10.3rem .5rem -10rem #E9C,    // Old separator style
  //             inset 0 -12.0rem  3rem -10rem #A7A8,
  //             inset 0 -11.5rem  9rem -10rem #85C4;
}