@use 'sass:color';

$gap-width: 3rem;

.background {
  display: flex;
  justify-content: center;
  background: var(--bg-color);
}

.container {
  // max-width: 140ch;
  // margin: 5rem;
  padding: $gap-width;
  background: color.adjust(#242024, $lightness: 8%);
  box-shadow: inset 0 0 2rem .5rem #0008;

  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
  gap: $gap-width;
}