@use 'sass:color';

$gap-width: 3rem;

.background {
  display: flex;
  justify-content: center;
  background: var(--bg-color);
}

.container {
  $dark: #242024;
  $light: color.adjust(#242024, $lightness: 5%);

  // background: $dark; 
  background: linear-gradient(to right, $dark 50%, $light 50%, $light 75%, $dark 75%);
  // TODO Hm...

  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;

  overflow: hidden;
}