@use 'styles/font-families';

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: font-families.get('body');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: font-families.get('code');
}


// Migrate

:root {
  /* Color Palette */
  --text-primary: #bbb;
  --bg-color: #242024;
  /* TODO Finish migrating color vars. */

  /* Z-Index Levels */
  --z-background: -100;
  --z-content:     000;
  --z-foreground:  100;
  --z-navbar:      999;
}