html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


// Migrate

:root {
  /* Color Palette */
  --text-primary: #bbb;
  --bg-color: #242024;
  /* TODO Finish migrating color vars. */

  /* Z-Index Levels */
  --z-background: -100;
  --z-content:     000;
  --z-foreground:  100;
  --z-navbar:      999;
}